html {
    font-family: sans-serif;
    background-color: #fcfffc;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
    min-width: 1200px;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 10px;
  }

  th {
    background-color: #e0e0e0;
  }

  td {
    text-align: left;
  }

  tr:nth-child(even) td {
    background-color: #fafafa;
  }

  tr:nth-child(odd) td {
    background-color: #f3f3f3;
  }

  caption {
    padding: 10px;
  }

td > ul {
  padding-left: 20px;
}

.number-cell {
  width: 50px;
  text-align: center;
}

.small-cell {
  width: 120px;
}

.episode-cell {
  max-width: 400px;
  min-width: 240px;
}
